@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Merriweather:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Inter;
}
/* main section styles */
.main-container {
  padding: 50px 140px 0;
}
.banner {
  font-family: Merriweather;
  background: linear-gradient(180deg, #070211, rgba(7, 2, 17, 0)),
    url("../images/Banner\ Image.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
  padding: 170px 344px;
  border-radius: 20px;
}
.banner h2 {
  font-size: 32px;
  font-weight: 400;
}
.banner h1 {
  font-size: 72px;
  font-weight: 900;
}

/* categories section style */
.categories {
  text-align: center;
  margin: 120px 0;
}
.categories h1 {
  font-size: 88px;
  font-weight: 700;
  color: #f00;
  margin-bottom: 48px;
}
.categories h3 {
  font-size: 24px;
  font-weight: 500;
  color: #f00;
  margin-bottom: 10px;
}
.categories h2 {
  font-size: 48px;
  font-weight: 700;
  color: #070211;
  margin-bottom: 48px;
}

/* party section style */
.party {
  display: flex;
  background: linear-gradient(90deg, #070211, rgba(7, 2, 17, 0)),
    url("../images/Vectorrr.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.party-content {
  color: #fff;
  margin: 110px 35px 110px 95px;
}
.party-content h1 {
  font-family: Merriweather;
  font-size: 64px;
  margin-right: 55px;
  line-height: 88px;
}
.party-content p {
  font-size: 18px;
  line-height: 30px;
  margin: 24px 0;
  color: rgba(255, 255, 255, 0.8);
  line-height: 30px;
}
.party-content button {
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  background: transparent;
  border: 1px solid #f00;
  color: #fff;
  cursor: pointer;
}
.party-content button:hover {
  background-color: #f00;
  transition: 0.5s;
}
.party img {
  display: flex;
  align-items: center;
  width: 300px;
  height: 436px;
  margin: auto 126px auto 0;
  filter: drop-shadow(1px 1px 20px rgba(25, 25, 25, 0.95));
}

/* details section style */
.details {
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
  padding: 110px 0;
  margin: 120px 0;
}
.details-content {
  text-align: center;
}
.details-content h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  color: #070211;
}
.details-content h1 > span {
  color: #f00;
}
.details-content button {
  padding: 16px 32px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  background-color: #f00;
  border: none;
  margin-top: 48px;
}

/* bonus section style */
.bonus-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bonus-middle {
  padding: 40px;
  border-radius: 100%;
  border: 15px solid #f00;
}
.bonus-left {
  width: 393px;
}
.bonus-left h3 {
  font-size: 24px;
  font-weight: 500;
  color: #f00;
}
.bonus-left h1 {
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  color: #070211;
  padding: 16px 0;
}
.bonus-left p,
.bonus-right p {
  font-size: 20px;
  color: rgba(7, 2, 17, 0.6);
  font-weight: 400;
  line-height: 32px;
}
.bonus-right {
  height: 477px;
  width: 276px;
  padding: 112px 0 181px;
  position: relative;
}
.bonus-right h1 {
  font-size: 48px;
  font-weight: 700;
  color: #f00;
  margin-bottom: 16px;
}
.bonus-right img {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* discount section style */
.discount {
  margin: 120px 0;
}
.discount-content {
  text-align: center;
  padding: 126px;
}
.discount-content h3 {
  color: #070211;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}
.discount-content h1 {
  color: #070211;
  font-size: 72px;
  font-weight: 900;
  font-family: Merriweather;
  margin-bottom: 28px;
}
.discount-content h1 > span {
  color: #f00;
}
.discount-content p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.discount-image {
  background: url("../images/Rectangle\ 1.png");
  background-repeat: no-repeat;
  background-position: right;
  width: 100%;
  height: 433px;
  position: relative;
}
.discount-image > img {
  position: absolute;
  right: 285px;
  bottom: 59px;
}
.bottom-img {
  background: url("../images/Rectangle\ 2.png");
  height: 229px;
  border-bottom-right-radius: 20px;
  position: relative;
}
.bottom-img > img {
  position: absolute;
  bottom: 0;
  left: 0;
  filter: drop-shadow(1px 25px 20px rgba(0, 0, 0, 0.63));
}

/* portfolio section style */
.portfolio h3 {
  font-size: 24px;
  font-weight: 500;
  color: #f00;
}
.portfolio h1 {
  font-size: 48px;
  font-weight: 900;
  color: #070211;
  font-family: Merriweather;
  margin: 16px 0;
}
.portfolio p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-right: 424px;
}
.portfolio-image {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 48px;
}
.portfolio-image div {
  width: 396px;
  height: 422px;
  overflow: hidden;
  border-radius: 20px;
}
.portfolio-image img {
  height: 422px;
  cursor: pointer;
  transition: 1s;
}
.portfolio-image img:hover {
  transform: scale(1.3);
}

/* subscribe section style */
.subscribe {
  margin: 120px 0;
  background: rgba(255, 0, 0, 0.05);
  padding: 80px 170px;
  border-radius: 15px;
}
.subscribe-content {
  text-align: center;
}
.subscribe-content img {
  margin-bottom: 40px;
}
.subscribe-content h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}
.subscribe-content p {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}
.subscribe-info {
  width: 648px;
  display: flex;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
}
.subscribe-info input {
  padding: 25px 30px;
  width: 100%;
  outline: none;
  border: none;
  font-size: 18px;
}
.subscribe-info button {
  padding: 24px 56px;
  background-color: #f00;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

/* footer section style */
.footer-section {
  padding: 120px 140px;
  background: #070211;
  color: #fff;
}
.footer-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-top p {
  width: 390px;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.footer-top a {
  display: block;
  text-decoration: none;
  font-size: 24px;
  line-height: 40px;
  font-weight: 500;
  color: #fff;
  margin-right: 100px;
}
.footer-top a > img {
  height: 24px;
}
.footer-mid {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.footer-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-bottom p {
  font-size: 24px;
  font-weight: 500;
}
hr {
  margin: 50px 0;
  opacity: 10%;
}
/* End */
